<!DOCTYPE html>
<html>
<head>
  <title>Paul Huang, Top Producing Real Estate agent with Gold Medals. Serving Acton,Lexington,Belmont,Newton,Westford,Concord..MA. Speaks Chinese, English</title>
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta name="verify-v1" content="5i9osGSoVzQAzCcTuTd6_0nsvKECl86U3N85RAgtS1I">
  <meta name="google-site-verification" content="5i9osGSoVzQAzCcTuTd6_0nsvKECl86U3N85RAgtS1I">
  <meta name="keywords" content="Paul Huang Real Estate Agent. Platinum Award Top Producer. Marketing and purchase Home/real estate in Acton, Lexington, Belmont, Newton, MA, Westford, Concord, Carlisle, Bedford, Winchester, Wayland, Weston, Wellesley, MA">
  <meta name="description" content="Paul Huang, Top Ranked Realtor with Gold Medals. Serving Boston, Lexington, Newton, Acton, Belmont, Concord, Carlisle, Westford, MA...Speaks Chinese, English real estate agent. Other towns include Winchester, Brookline, Wayland, Weston, Wellesley, Andover, Sudbury, Bedford and most Great Boston area. Platinum Awarded Real Estate Agent by Northeast Association of Realtors">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
      <!--[if IE 6]>
  <style>
  ul a {height: 1em;}




  #searchArea #searchBg{
  	width:824px;
  	margin-left:-5px;
  	background-image:none;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.paulhuangrealtor.com/atj/static/template_content/template38/images/search_bg.png", sizingMethod="image");
  	clip:rect(0px 825px 180px 0);
  }

  #searchArea #searchBox .topBox{
  	background-image:none;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.paulhuangrealtor.com/atj/static/template_content/template38/images/boxTop.png", sizingMethod="image");
  }

  #searchArea #searchBox .bottomBox{
  	background-image:none;
  	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://www.paulhuangrealtor.com/atj/static/template_content/template38/images/boxBottom.png", sizingMethod="image");
  }




  </style>
  <![endif]-->
  <!--[if IE 5]>
  <style>
  li {margin-top: -3px;}
  </style>
  <![endif]-->
    
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header'%>
<%= render 'home/leftnav'%>
<%= yield %>

</body>
</html>
